

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.result-container {
    margin: 10px 0;
}

/* .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
} */

p {
    word-wrap: break-word;
}

button:hover:not(:disabled) {
    background-color: #005bb5;
    color: #333;
}

button:active:not(:disabled) {
    background-color: #004a99;
}
